.grid {
  display: grid;
  grid-template-columns: auto auto;
}

.container_price {
  display: inline-block; 
  vertical-align: middle; 
}

.price_price {
  display: inline;
  vertical-align: top; 
  font-size: 40px;
}

.price,
.name  {
  text-align: center;
  height: 48px;
}

.counter {
position: absolute;  
top: 0;
right: 0;
}

.card {
width: 272px;
display: inline-block;
position: relative;
}

.card :hover{
cursor: pointer;
}
